<footer class="py-3 bg-dark mt-auto text-white border border-top border-2 border-dark">
    <div class="container">
        <p class="float-end mb-1">
            <a class="me-3 py-2 text-white text-decoration-none" href="{{ url_for('terms') }}">
                <i class="bi-info-square"></i> Terms
            </a>
            <a class="me-3 py-2 text-white text-decoration-none" href="{{ url_for('about') }}">
                <i class="bi-people"></i> About
            </a>
            <a class="me-3 py-2 text-white text-decoration-none"
               href="https://github.com/arsho/CBPen">
                <i class="bi-github"></i> Code
            </a>

            <a id="back-to-top" href="#"
               class="btn btn-light btn-lg back-to-top" role="button">
                <i class="bi bi-arrow-up-square-fill"></i>
            </a>
        </p>
        <p class="mb-1">Developed by <a href="{{ url_for('about') }}" class="text-white">Cloud Blazers</a>
            <br>CBPen &copy; 2021
        </p>
    </div>
</footer>