<!doctype html>
<html lang="en">
<head>
    <!--Head Starts-->
    {% include "partials/head.html" %}
    <!--Head Ends-->
    {% block head %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
<div class="container py-3">
    <header>
        <!--Header Starts-->
        {% include "partials/header.html" %}
        <!--Header Ends-->
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</div>
<!--Footer Starts-->
{% include "partials/footer.html" %}
<!--Footer Ends-->
<!--Scripts Starts-->
{% include "partials/scripts.html" %}
<!--Scripts Ends-->
{% block scripts %}
{% endblock %}

</body>
</html>