{% extends "layout.html" %}
{% block head %}
{% endblock %}
{% block content %}
    <h1 class="h3 mb-3"><strong>CBPen</strong> Subdomains and SSL</h1>

    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header">
                    Select Site to Scan for subdomains and SSL
                </div>
                <div class="card-body">
                    <form method="post" action="{{ url_for('get_subdomains_ssl') }}">
                        <select name="site" class="form-select mb-3">
                            {% for site in sites %}
                                <option value="{{ site }}">{{ site }}</option>
                            {% endfor %}
                        </select>
                        <div class="d-grid gap-2">
                            <button class="btn btn-secondary btn-block">
                                Scan
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- .card -->
            {% if site %}
                {% from 'macros/subdomains_macro.html' import subdomains_macro %}
                {{ subdomains_macro(site, subdomains, ssl_certificates, total_time) }}
            {% endif %}
        </div>
    </div>

{% endblock %}
{% block script %}
{% endblock %}